<h1>Restaurant List</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li><strong><%= link_to restaurant.name, restaurant_path(restaurant) %></strong></li>

  Address: <%= restaurant.address %><br>
  Phone: <%= restaurant.phone_number %><br>
  Category: <%= restaurant.category.capitalize %><br>
  Rating: <%= restaurant.rating %><br>
  Comments: <%= restaurant.content %>
  <% end %>
</ul>
<p><%= link_to "Add a New Restaurant", new_restaurant_path %></p>
